{% extends 'registro_paciente/layout_base.html' %}
{% block title %}Nuevo Paciente{% endblock %}
{% block body %}
    <div class="container margin-top">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form method="POST">
            {% csrf_token %}
            <!-- titlulo del form -->
            <div class="form-group">
                <h1>Agregar o Editar paciente</h1>
            </div>
            <!-- Nombre Completo -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="">Nombre Completo:</label>
                    </div>
                    <div class="col-md-3">
                    {{ form.nombre }}
                    </div>
                    <div class="col-md-3">
                    {{form.apellido}}
                    </div>
                </div>
            </div>
            <!-- Fecha de nacimiento -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="">Fecha de Nacimiento:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.fecha_nacimiento }}
                    </div>
                </div>
            </div>
            <!-- Sexo -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="inputGroupSelect01">Sexo:</label>
                    </div>
                    <div class="col-md-3">
                        {{form.id_sexo}}
                    </div>
                </div>
            </div>
            <!-- Telefono -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="">Telefono Movil:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.telefono_movil }}
                    </div>
                </div>
            </div>
            <!-- Localidad -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="id_direccion">Direccion:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.id_localidad}}
                    </div>
                </div>
            </div>
            <!-- Congregacion -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="id_congregacion">Congregacion:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.id_congregacion }}
                    </div>
                </div>
            </div>
            <!-- Estado Civil -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="id_estado_civil">Estado Civil:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.id_estado_civil }}
                    </div>
                </div>
            </div>
            <!-- Referencia -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="id_referencia">Referencia:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.id_referencia }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Agregar">Guardar</button>
        </form>
    </div>
{% endblock %}