{% extends 'registro_paciente/layout_base.html' %}
{% block title %}Borra Paciente{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <h3><strong>¿Desea borrar de forma permanente al paciente {{ paciente_seleccionado.nombre }}?</strong></h3>
            <p>Esta acción causara la eliminación de otros registro relacionados.</p>
            {% if paciente_seleccionado.familiar_set.all %}
            <h5><strong>Familiares que serán eliminados:</strong></h5>
            <ul>
            {% for familiar in paciente_seleccionado.familiar_set.all %}
                <li>{{familiar.nombre}}</li>
            {% endfor %}    
            </ul>
            {% endif %}
            <button class="btn btn-danger btn-lg" type="submit">Sí, elimnar</button>
            <a class="btn btn-primary btn-lg" href="{% url 'registro_paciente:index' %}" role="button">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}