{% extends 'registro_paciente/layout_base.html' %}
{% block title %}Detalle del paciente{% endblock %}
{% block body %}
<div class="container-fluid margin-top">
{% if paciente_seleccionado %}
    <h2>N° Registro: {{ paciente_seleccionado.id_paciente }}</h2>
    <ul>
        <li>Nombre: {{ paciente_seleccionado.nombre }}</li>
        <li>Apellido: {{ paciente_seleccionado.apellido }}</li>
        <li>Fecha de nacimiento: {{ paciente_seleccionado.fecha_nacimiento }}</li>
    </ul>
    
    {% for family in paciente_seleccionado.familiar_set.all %}
    <h3>{{ family.id_tipo_familiar }}</h3>
    <ul>
        <li>{{ family.nombre }}</li>
        <li>{{ family.fecha_nacimiento }}</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
{% endblock %}