<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del paciente</title>
</head>
<body>
    {% if paciente_seleccionado %}
    <ul>
    {% for patient in paciente_seleccionado %}
        <li>N° Registro: {{ patient.id_paciente }}</li>
        <li>Nombre: {{ patient.nombre }}</li>
        <li>Apellido: {{ patient.apellido }}</li>
        <li>Fecha de nacimiento: {{ patient.fecha_nacimiento }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>