<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'registro_paciente/css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registro_paciente/css/styles.css' %}">
    <title>Detalle del paciente</title>
</head>
<body>
{% if paciente_seleccionado %}
    <h2>N° Registro: {{ paciente_seleccionado.id_paciente }}</h2>
    <ul>
        <li>Nombre: {{ paciente_seleccionado.nombre }}</li>
        <li>Apellido: {{ paciente_seleccionado.apellido }}</li>
        <li>Fecha de nacimiento: {{ paciente_seleccionado.fecha_nacimiento }}</li>
    </ul>
    
    {% for family in paciente_seleccionado.familiar_set.all %}
    <h3>{{ family.id_tipo_familiar }}</h3>
    <ul>
        <li>{{ family.nombre }}</li>
        <li>{{ family.fecha_nacimiento }}</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>