{% extends "registro_paciente/layout_base.html" %}
    {% load static %}
    {% block title %}Paciente{% endblock %}
    {% block body %}
    <div class="container-fluid margen-arriba">
        <div class="row">
            <div class="col-md-12">
                <h2>Pacientes Registrados</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if latest_patient_list %}
                            {% for patient in latest_patient_list %}
                            <tr>
                                <th>{{ patient.id_paciente }}</th>
                                <td>{{ patient.nombre }}</td>
                                <td>{{ patient.apellido }}</td>
                                <td>{{ patient.fecha_nacimiento }}</td>
                                <td><a href="{% url 'registro_paciente:detalle_paciente' patient.id_paciente %}"><img src="{% static 'registro_paciente/icons/info-circle.svg' %}" alt="My image" width="30px"></a>
                                    <a href="{% url 'registro_paciente:editar_paciente' patient.id_paciente %}"><img src="{% static 'registro_paciente/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
                                    <a href="{% url 'registro_paciente:borrar_paciente' patient.id_paciente %}"><img src="{% static 'registro_paciente/icons/trash.svg' %}" alt="My image" width="30px"></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <p>No polls are available.</p>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
        <!--Paginación-->
        <div class="row justify-content-md-center">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% ifequal num page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link current">
                        {{ num }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endifequal %} 
            {% endfor %}        
    
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Previous">
                        Last
                    </a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
    {% endblock%}